<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="body">
    <div class="container-fluid d-flex flex-column vh-100 overflow-hidden">
      <div class="row flex-grow-1 overflow-hidden">

        <%= render "home/sidebar" %>
        
        <div class="col mh-100 overflow-auto pt-3 px-4">
          <%= yield %>
        </div
        >
      </div>
    </div>
  </body>
</html>
